<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cattle List</title>
</head>
<body>
    <h1>My Cattle List</h1>
    <ul>
        <% cattle.forEach(c => { %>
            <li>
                <a href="/cattle/<%= c._id %>"> 
                    <img src="<%= c.img %>" alt="" width="25%" height="25%">
                </a>
            </li>
       <% }); %>
    </ul>
    <a href="/cattle/new">Add to my list</a>
</body>
</html>