<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cattle Adder</title>
</head>
<body>
    <h1>New Cattle Page</h1>
    <form action="/cattle" method="POST" enctype="multipart/form-data">
        <label>Image:
            <input type="file" name="image">
        </label><br>
        <label>Breed:
            <input type="text" name="breed">
        </label><br>
        <label>Origin:
            <input type="text" name="origin">
        </label><br>
        <label>Color:
            <input type="text" name="color">
        </label><br>
        <label>Description:
            <input type="text" name="description">
        </label><br>
        <input type="submit" value="Add Cattle Breed">
    </form>
    <a href="/cattle">Back to Cattle List</a>
</body>
</html>