body {
    background-color: rgb(145, 135, 96);
 }
 h1 {
    text-align: center;   
}
 .bar {
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
 }
 section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img {
    background-image: url(https://i.imgur.com/wzrRfjb.jpg);
    width: 70%;
    height: 800px;
    border-radius: 20px;
    background-size: cover;
    margin: auto;
    box-shadow: inset 0px 0px 40px 40px rgb(145, 135, 96);
    /* box-shadow: 10px 16px 20px rgba(0,0,0,0.5); */
    border-width: 1.5em;
    font-size: larger;
    color: bisque;
    opacity: 5;
    display: flex;
    flex-flow: column wrap;
}
#feet{
    text-align: center;
    background-color: rgb(245, 236, 226);
    padding-left: 20px;
    
}
.social-links{
    height: 50px;
}


 